	#box{
			margin: auto;
			width: 400px;
			background-color: white;
			margin-top: 100px;
			font-family: Arial;
		}
#pl{
	color: darkred;
	font-size: 25px;
	padding-left: 40px;
	padding-top: 30px;

}

#icon{
	margin-top: 10px;
/*	padding-left: 5px;*/
	float: left;
	height: 25px;
	width: 20px;
	margin-left: 40px;
	
}
#text{
	margin-top: 10px;
	padding-left: 20px;
	height: 20px;
	width: 280px;


/*	padding: 10px 5px 5px 5px;*/

} 
#forget{
	font-size: 13px;
	text-align: right;
	margin-right: 40px;
	margin-top: 5px;

}
#csize{
	font-size: 13px;
	color: darkred;
	margin-top: 10px;
}
#checkbox{
	margin-left: 40px;
	
}
#butt{
	margin-right: 45px;
	float: right;
	margin-top: 8px;
	color: darkred;
	text-align: right;
}
#textt{
	color: lightgrey;
	font-size: 15px;
	font-family: sans-serif;
	margin-left: 40px;
}

#create{
	margin-left: 40px;
	font-size: 10px;
	color: black;
}
